#**Section- 1**

In [2]:
print("Iam Sushil")

Iam Sushil

Functions on Python

In [7]:
def area_of_square(num):
  return num*num
print("The area  of first square is :",area_of_square(6))
print("The area of second square is:",area_of_square(5))

The area  of first square is : 36
The area of second square is: 25

In [8]:

def area_of_circle(num):
  return 3.7*num
print("The area of Circle is:",area_of_circle(5))

The area of Circle is: 18.5

Lists in Python

In [16]:
#creating a lists of fruits
fruits=["apple","banana","kiwi","orange","gava"]

#Acessing elements
# print(fruits[0])#acessing first element in the list
# print(fruits[4])#accessing the 5th element in the list
# print(fruits[-1])#accessing the last element in the  list
# print(fruits[-2])#accessing the 2nd  last element in the list

#Adding and removing elements from list
fruits.append("mango")
print(fruits)

#Removing elements from the list
fruits.remove("kiwi")
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'gava', 'mango']
['apple', 'banana', 'orange', 'gava', 'mango']

creating dictioneries

In [22]:
student={
    "name":"Ram Sahi",
    "age":30,
    "course":"Computer Science"
}

#Accessing the value of particular key in dictionary
print(student["age"])

#Updating values of particular key in the dictioneary
student["age"]=60
print(student["age"])

#Adding the new key-value pair on the dictioneary
student["address"]="Kathmandu"
print(student)

#Removing a key-value pair from dictioneary

del student["course"]
print(student)

30
60
{'name': 'Ram Sahi', 'age': 60, 'course': 'Computer Science', 'address': 'Kathmandu'}
{'name': 'Ram Sahi', 'age': 60, 'address': 'Kathmandu'}

String Manupulation