#**Section- 1**

In [ ]:
print("Iam Sushil")

Iam Sushil

Functions on Python

In [ ]:
def area_of_square(num):
  return num*num
print("The area  of first square is :",area_of_square(6))
print("The area of second square is:",area_of_square(5))

The area  of first square is : 36
The area of second square is: 25

In [ ]:

def area_of_circle(num):
  return 3.7*num
print("The area of Circle is:",area_of_circle(5))

The area of Circle is: 18.5

Lists in Python

In [ ]:
#creating a lists of fruits
fruits=["apple","banana","kiwi","orange","gava"]

#Acessing elements
# print(fruits[0])#acessing first element in the list
# print(fruits[4])#accessing the 5th element in the list
# print(fruits[-1])#accessing the last element in the  list
# print(fruits[-2])#accessing the 2nd  last element in the list

#Adding and removing elements from list
fruits.append("mango")
print(fruits)

#Removing elements from the list
fruits.remove("kiwi")
print(fruits)

['apple', 'banana', 'kiwi', 'orange', 'gava', 'mango']
['apple', 'banana', 'orange', 'gava', 'mango']

creating dictioneries

In [ ]:
student={
    "name":"Ram Sahi",
    "age":30,
    "course":"Computer Science"
}

#Accessing the value of particular key in dictionary
print(student["age"])

#Updating values of particular key in the dictioneary
student["age"]=60
print(student["age"])

#Adding the new key-value pair on the dictioneary
student["address"]="Kathmandu"
print(student)

#Removing a key-value pair from dictioneary

del student["course"]
print(student)

30
60
{'name': 'Ram Sahi', 'age': 60, 'course': 'Computer Science', 'address': 'Kathmandu'}
{'name': 'Ram Sahi', 'age': 60, 'address': 'Kathmandu'}

  **Temperature change**

In [ ]:
#Taking Input from the user
num =float(input("What is the temperature in celsius:"))
def todays_temp(num):
  return num*9/5+32
print("The temperature in Fahrenheit is:",todays_temp(num))

What is the temperature?:33
The temperature in Fahrenheit is: 91.4

**Age Calculator**

In [ ]:

import datetime
current_year = datetime.datetime.now().year
birth_year = int(input("Please enter your birth year in A.D. (e.g., 1995): "))
if birth_year > current_year:
    print("Error: Incorrect Birth Date please provide right input.")
else:
    age = current_year - birth_year
    print(f"You are {age} years old.")

Please enter your birth year in A.D. (e.g., 1995): 2030
Error: Incorrect Birth Date please provide right input.

**Simple Interest Calculator**

In [ ]:

principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual rate of interest (%): "))
time = float(input("Enter the time in years: "))
simple_interest = (principal * rate * time) / 100
print(f"The simple interest is: {simple_interest:.2f}")

Enter the principal amount: 10
Enter the annual rate of interest (%): 5
Enter the time in years: 32
The simple interest is: 16.00

**BMI Calculator**

In [ ]:

weight = float(input("Enter your weight in kilograms (kg): "))
height = float(input("Enter your height in meters (m): "))
bmi = weight / (height ** 2)
if bmi < 18.5:
    category = "Underweight"
elif 18.5 <= bmi < 24.9:
    category = "Normal weight"
elif 25 <= bmi < 29.9:
    category = "Overweight"
else:
    category = "Obese"
print(f"Your BMI is: {bmi:.2f}")
print(f"You are categorized as: {category}")

Enter your weight in kilograms (kg): 70
Enter your height in meters (m): 1.8288
Your BMI is: 20.93
You are categorized as: Normal weight

**Currency Converter**

In [ ]:

exchange_rate = 136.87
amount_npr = float(input("Enter the amount in Nepali Rupees (NPR): "))
amount_usd = amount_npr / exchange_rate
print(f"{amount_npr:.2f} NPR is approximately {amount_usd:.2f} USD.")

Enter the amount in Nepali Rupees (NPR): 500000
500000.00 NPR is approximately 3653.10 USD.

In [ ]:
import random
print(random.randint(1,10))

4

#DAY 3 STARTS HERE

#FILE HANDLING AND EXCEPTION HANDLING

#OPENING AND READING FILE

In [42]:
f =open("/run/user/test.txt","r")
print(f.read())
f.close()

i am here
how are you
are yo good?

#READS THE FIRST LINE

In [46]:
f =open("/run/user/test.txt","r")
print(f.readlines(6))
f.close()

['i am here \n']

#METHOD ALICE

In [49]:
with open("/run/user/test.txt","r") as f:
  print(f.read())

i am here
how are you
are yo good?

#WRITING TO FILE

In [54]:
f =open("/run/user/test.txt","w")
f.write("I am Sushil")
f.close()

In [55]:
with open("/run/user/test.txt","w") as f:
  f.write("K XA HJR?")

#APPENDING TO A FILE

In [56]:
f =open("/run/user/test.txt","a")
f.write("\nI am here now")
f.close()

#DELETING A FILE/FOLDER

deleting the text file

In [57]:
#importing os
import os
os.remove("/run/user/test.txt")

deleting the folder from  directory

In [58]:
os.rmdir("/content/sample_data/delete_me")

#BASIC EXCEPTION HANDLING

In [71]:
#using try and except
#b=8
try:
  print(c)
except NameError:
  print("An NameError exception occurred")

An NameError exception occurred